.one-color-wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.one-color-item {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.two-color-wrap.type1,
.two-color-wrap.type2,
.two-color-wrap.type3 {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.two-color-wrap.type1 {
  // display: flex;
  // flex-wrap: wrap;
  // margin-bottom: 20px;
  
  .two-color-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin: 8px;
  }
  .two-color-item div {
    width: 140px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &:nth-child(1) {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      border-radius: 0 0 50% 50%;
      position: absolute;
      height: 80px;
      top: -13px;
    }
    &:nth-child(2) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: transparent;
      height: 100px;
    }
  }
}
.two-color-wrap.type2 {
  .two-color-item {
    width: 140px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px;
  }
  .two-color-item div {
    width: 140px;
    height: 100px;
    background-size: 100% 25px!important;
    &:nth-child(1) {
      color: transparent;
    }
    &:nth-child(2) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: transparent;
      height: 100px;
    }
  }
}
.two-color-wrap.type3 {
  .two-color-item {
    width: 140px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    margin: 8px;
  }
  .two-color-item div {
    width: 140px;
    height: 100px;
    background-size: 35px 35px!important;
    &:nth-child(1) {
      color: transparent;
    }
    &:nth-child(2) {
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      color: transparent;
      height: 100px;
    }
  }
}