$base-color: #84b9e5;

.has-design {
  width: 500px;
  height: 600px;
  border: 1px solid $base-color;
}
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}