@import "@/styles/hasDesign/HasDesign.scss";

.text-border {
  padding: 50px;
  .content {
    align-items: flex-start;
  }
  .border {
    padding: 8px;
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 8px;
    color: #f5af7d;
    border: 2px solid #f5af7d;
  }
}
